@import '~antd/dist/antd.less';

@secondary-color: #d1e6e8;

.header {
  height: 66px;
  // padding-left: 0;
  background-color: @primary-color;

  ul {
    border-bottom: none;
    background-color: @primary-color;

    .ant-menu-item {
      color: @secondary-color !important ;
    }
    .ant-menu-item-active,
    .ant-menu-item-selected {
      color: white !important ;
    }
  }

  .logo {
    float: left;
    width: 300px;
    background-color: @primary-color;
    padding-right: 20px;
    img {
      height: 64px;
    }
  }

  .nav-menu {
    margin-left: 100px;
  }
  .sign-out-wrapper {
    position: absolute;
    right: 12px;
    top: 0px;
  }
}

.page {
  &.login,
  &.register {
    label {
      color: @primary-color;
    }
  }
  a:hover {
    text-decoration: underline;
  }
}

p.comment-value {
  white-space: pre-wrap;
}

.ant-modal {
  width: 90% !important;
  .book-preview {
    p {
      margin: 0;
    }
    .ant-image {
      margin-bottom: 8px;
    }
    .action-buttons {
      margin-top: 8px;
    }
  }
  .edit-fields {
    input,
    .ant-select {
      width: 250px;
      margin-bottom: 4px;
    }
    input {
      display: block;
    }
  }
  .action-buttons {
    margin-top: 12px;
    .delete-button {
      float: right;
    }
  }
}

#book-scan-input {
  // visibility: hidden;
  // opacity: 0;
}

.ant-input {
  color: @primary-color !important;
}

.ant-layout-content {
  padding: 16px;
  background: #fff;
}

.book-scan-modal {
  width: 98% !important;
  max-width: none !important;
  margin-top: -40px;
  .ant-modal-body {
    min-height: 50vh;
  }
}
